header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    border-bottom: 1px solid var(--theme-border);
    font-size: 18px;
    padding: 0px 10px;
}

header img {
    max-width: 40px;
}