.tasklist h1 {
    font-size: 28px;
    text-align: center;
    margin: 20px;
}

.tasklist ul {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tasklist button.trigger {
    border: 0px;
    border-radius: 5px;
    background-color: var(--theme-button);
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
}