@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
    --theme-border: #d7d7d7;
    --theme-button: #0F3460;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 90vh;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

button {
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkslateblue;
    color: #FFFFFF;
}
